<!DOCTYPE html>
<html>
<% if user_signed_in? %>
  Voce está conectado como <%= current_user.name %>, <%= link_to "desconectar", destroy_user_session_path, method: :delete  %>
<% end %>
  <head>
    <title>Conectados</title>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
