<!DOCTYPE html>
<html>
<% if user_signed_in? %>
  Voce está conectado como <%= link_to current_user.name, profile_path(current_user.id) %>, <%= link_to "desconectar", destroy_user_session_path, method: :delete  %>
  <%= form_tag(profiles_path, method: :get) do %>  
    <%= text_field_tag :term, params[:term], :placeholder => "Procure por nomes..",:class => "busca-input" %>
    <%= submit_tag 'Encontrar', name: nil,:class => "busca-submit" %>
  <% end %>
  <%= link_to "Feed", posts_path%> <%= link_to "Usuários", profiles_path%>
  <%= link_to 'New Post', new_post_path %>
<% end %>
  <head>
    <title>Conectados</title>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <br/>
  <body>
    <%= yield %>
  </body>
</html>
